<% if user_signed_in? %>

<%= link_to "Report", tasks_path %>

<form action="">
    <input type="text" name="taskName" id="taskName" placeholder="Task Name">

    <input type="text" name="projectName" id="projectName" placeholder="What is the project">

    <input type="time" name="startTime" id="startTime">
    <input type="time" name="endTime" id="endTime">

   <!-- <input type="submit" name="taskDone" id="taskDone" value="Done"> -->
   <button id="submit">Done</button>
</form>

<!--
   <div id="auto">
        <p id="timer"></p>
        <button id="start_task">Start</button>
   </div>
   -->

    <% tasks_array = [] %>
    <% hours = 0 %>
    <% minutes = 0 %>
    <% seconds = 0  %>

    <% current_user.projects.each do |p| %>
        <% p.tasks.each do |t| %>
        <% tasks_array.push(t) %>
            
        <% end %>
    <% end %>

    

<!--.created_at.strftime "%B %d, %Y" -->
<% while tasks_array.empty? == false %>

   <% if seconds.to_i >= 60 %>
        <% rest = seconds.to_i %>
        <% seconds.to_i = seconds.to_i - 60 %>
        <% rest = rest - seconds.to_i %>
        <% minutes.to_i = minutes.to_i + (rest / 60) %>
    <% end %>

    <% if minutes.to_i >= 60 %>
        <% rest = minutes.to_i %>
        <% minutes = minutes.to_i - 60 %>
        <% rest = rest - minutes.to_i %>
        <% hours = hours.to_i + (rest / 60) %>
    <% end %>

    <% seconds = "0#{seconds}" if seconds.to_i < 10 %>
    <% minutes = "0#{minutes}" if minutes.to_i < 10 %>
    <% hours = "0#{hours}" if hours.to_i < 10 %>
  

   <div id="tasks_days">
   <p><%= tasks_array[0].created_at.strftime "%B %d, %Y" %> &nbsp; &nbsp; &nbsp; <%= "#{hours}:#{minutes}:#{seconds}" %></p>
        <% test = tasks_array[0] %>
        <% check = true %>
        <%= project_name = "" %>
      
      <% while check == true %>

       <% first_element = tasks_array.shift %>

        <% if (first_element.created_at.strftime "%B %d, %Y") == (test.created_at.strftime "%B %d, %Y") %>
            <% current_user.projects.each do |p| %>
                <% project_name = p.name if p.id == first_element.project_id %>
            <% end %>

            <% seconds = seconds.to_i + (first_element.duration[6..7]).to_i %>
            <% minutes = minutes.to_i + (first_element.duration[3..4]).to_i %>
            <% hours = hours.to_i + (first_element.duration[0..1]).to_i %>

            <strong><%= first_element.name %> / <%= project_name %></strong>

            <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= first_element.start_time.strftime "%I:%M %P" %>-<%= first_element.end_time.strftime "%I:%M %P" %> &nbsp; &nbsp; &nbsp; Duration: <%= first_element.duration %></strong>

            <hr>
            
                <% check = false if tasks_array.empty? %>    
      
        <% else %>
            <% tasks_array.unshift first_element %>
            <% check = false %>
        <% end %>
        <% end %>
           </div>
        <% end %>
<% end %>