<% if user_signed_in? %>

<div class="links">
<p><%= link_to "Report", tasks_path %></p>
<p id="logout"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
</div>

<div id="create_task">
    <form action="">
        <input type="text" name="taskName" id="taskName" placeholder="Task Name">

        <input type="text" name="projectName" id="projectName" placeholder="Project Name">

        <input type="time" name="startTime" id="startTime">
        <input type="time" name="endTime" id="endTime">

    <button id="submit">Done</button>
    </form>
</div>

<div>
    <h3 id="timer">00: 00: 00</h3>
    <button id="toggle">Start</button>
</div>

    <% tasks_array = [] %>
    <% hours = 0 %>
    <% minutes = 0 %>
    <% seconds = 0  %>

    <% ordered_tasks = current_user.tasks.sort_by &:created_at %>

    <% ordered_tasks.each do |t| %>
        <% tasks_array.push(t) %>
    <% end %>

    <% tasks_array = tasks_array.reverse %>
    
    <% while tasks_array.empty? == false %>

    <% if seconds.to_i >= 60 %>
        <% rest = seconds.to_i %>
        <% seconds.to_i = seconds.to_i - 60 %>
        <% rest = rest - seconds.to_i %>
        <% minutes.to_i = minutes.to_i + (rest / 60) %>
    <% end %>

    <% if minutes.to_i >= 60 %>
        <% rest = minutes.to_i %>
        <% minutes = minutes.to_i - 60 %>
        <% rest = rest - minutes.to_i %>
        <% hours = hours.to_i + (rest / 60) %>
    <% end %>

    <% seconds = "0#{seconds}" if seconds.to_i < 10 %>
    <% minutes = "0#{minutes}" if minutes.to_i < 10 %>
    <% hours = "0#{hours}" if hours.to_i < 10 %>

   <div id="day_tasks">

    <% if (tasks_array[0].created_at.strftime "%B %d, %Y") == (Date.today.strftime "%B %d, %Y") %>
        <p class="day">Today</p>
    <% elsif (tasks_array[0].created_at.strftime "%B %d, %Y") == ((Date.today - 1).strftime "%B %d, %Y") %>
        <p class="day">Yesterday</p>
    <% else %>
        <p class="day"><%= tasks_array[0].created_at.strftime "%B %d, %Y" %></p>
    <% end %>

  
        <% test = tasks_array[0] %>
        <% check = true %>
        <%= project_name = "" %>
      
      <% while check == true %>

       <% first_element = tasks_array.shift %>

        <% if (first_element.created_at.strftime "%B %d, %Y") == (test.created_at.strftime "%B %d, %Y") %>
            <% current_user.projects.each do |p| %>
                <% project_name = p.name if p.id == first_element.project_id %>
            <% end %>

            <% seconds = seconds.to_i + (first_element.duration[6..7]).to_i %>
            <% minutes = minutes.to_i + (first_element.duration[3..4]).to_i %>
            <% hours = hours.to_i + (first_element.duration[0..1]).to_i %>

            <div class="each_task">

            <div><p><%= first_element.name %></p></div>
                            
            <% if project_name == "No Project"%>
                <div><p id="no_project"><%= project_name %></p></div>
            <% else %>
                <div><p><%= project_name %></p></div>
            <% end %>

            <div><p><%= first_element.start_time.strftime "%I:%M %P" %> - <%= first_element.end_time.strftime "%I:%M %P" %> &nbsp; &nbsp; &nbsp; <%= first_element.duration %></p></div>

            </div>

            <hr>

                <% check = false if tasks_array.empty? %>    
      
        <% else %>
            <% tasks_array.unshift first_element %>
            <% check = false %>
        <% end %>

        <% end %>
           </div>
        <% end %>
<% end %>